
// cta banner
.cta-banner{
  padding: 1rem 0;
  background: $Dark-Violet url(../../images/bg-boost-desktop.svg);
  background-size: cover;
  background-position: 100% center ;
  background-repeat: no-repeat ;
  color:white; 
  &__headline{
    padding: 1rem 0;
    color:white; 
  }
  @include mQ_desktop_large {
    &__headline{
      font-size: 2.5rem;
    }
  }
}
